{%extends 'index.html'%} {%load static%} {%block title%} My images {%endblock%}
{%block content%}
<h1>Welcome to My images (page 4) :</h1>

<div class="container-fluid">

    
  <div class="row">
    <div class="col-4">
      <img src="{% static 'python.jpg' %}" class="img-fluid" alt="..." />
    
    </div>



    <div class="col-4">
      <img src="{% static 'python.jpg' %}" class="img-fluid" alt="..." />

    </div>


    <div class="col-4">
      <img src="{% static 'python.jpg' %}" class="img-fluid" alt="..." />

    </div>
    
    <div class="col-4">
      <img src="{% static 'python.jpg' %}" class="img-fluid" alt="..." />

    </div>
 

  </div>
</div>

{%endblock%}
